*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #282c34;
  cursor: pointer;
}

#main-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-items: start;
  background-color: #20232a;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  width: 100vw;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo img {
  height: 20px;
}

#logo p {
  color: #61dafb;
  font-weight: 700;
  font-size: 20px;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#logo p:hover {
  color: #31dafb;
}

#main-nav {
  display: flex;
  align-items: start;
  justify-content: start;
  height: 100%;
  margin-right: 100px;
  margin-left: 36px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.main_header_radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}

.page-links {
  display: flex;
  align-items: start;
  justify-content: start;
  list-style: none;
  color: #fff;
  height: 100%;
  padding: 0;
  min-width: 400px;
  cursor: pointer;
  background-color: magenta;
}
.page-links li {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  width: fit-content;
  user-select: none;
  margin-right: 10px;
  cursor: pointer;
}

.page-links li:hover {
  color: #61dafb;
}

.search-and-lang {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  font-size: 14px;
  height: 60px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.search-and-lang div {
  margin: 5px;
  padding-right: 0.5em;
}

.search-and-lang div :hover {
  color: #31dafb;
}

.search-div {
  display: flex;
  align-items: center;
  height: 1.7em;
  padding: 0 5px;
  border-radius: 3px;
  background-color: transparent;
}

.onBlur {
  line-height: 21px;
  font-size: 18px;
  font-weight: 300;
  padding: 0 10px;
  width: 180px;
  margin-right: 15px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Github {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 60px;
  padding: 0 10px;
}

.fa-link {
  font-size: 10px;
  padding: 1em;
}

/* this is the showcase area along with the document and navbar */
.showcase-area {
  display: flex;
  flex-direction: column;
}

/*main document */

iframe {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: visible;
}

#main-doc {
  background-color: #ffffff;
  padding: 0 5.5em;
  margin-right: 20em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-doc-container {
  width: 100%;
}

header h1 {
  font-size: 60px;
  line-height: 65px;
  font-weight: 700;
  color: #282c34;
  margin-top: 80px;
  text-align: flex-start;
  padding: 1em 0 0;
}

hr {
  border: 1px solid rgba(219, 208, 208, 0.26);
  height: 1px;
  margin: 25px 0 0 0;
}

.sub-sections {
  padding: 2em 0;
}

.sub-sections h3 {
  font-size: 25px;
  line-height: 33px;
  font-weight: 700;
}

.param1 {
  font-size: 24px;
  line-height: 41px;
  font-weight: 300;
  color: #6d6d6d;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 1.5em 2.5em 0 0;
}

.params2 {
  padding: 1em 2.5em 0 0;
  width: 95%;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  color: #000;
}

.params4 {
  margin-bottom: 1em;
}
.keywords {
  font-weight: 700;
  font-size: 17px;
  line-height: 29px;
  color: #000;
  padding-right: 5px;
}

.inline-links {
  text-decoration: underline;
  background-color: #bbeffd5d;
}

.inline-links:hover {
  background-color: #61dafb77;
}

.highlight {
  font-size: 16px;
  background-color: #ffe56433;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tip-sections {
  margin-bottom: 20px;
  margin-top: 20px;
}

.tip-sections h3 {
  font-size: 17px;
  line-height: 29px;
  font-weight: 700;
}

.tip-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 1.5em;
  min-height: 8em;
  font-size: 17px;
  line-height: 29px;
  font-weight: 400;
  background-color: #ffe5644d;
  border-left: 8px solid #ffe564;
}

.main-section ul {
  padding: 1.5em 1em;
}

.main-section ul li {
  padding: 0.5em 0;
}

.large-header {
  font-size: 35px;
  line-height: 42px;
  font-weight: 700;
  margin-top: 1em;
  color: #1a1a1a;
}

.feedback {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #6d6d6d;
  padding: 0 1.5em;
}
.feedback-link {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #1a1a1a;
  margin-left: 1.5em;
}

.feedback-link:hover {
  border-bottom: 1px solid #1a1a1a;
}

.fa-thumbs-down,
.fa-thumbs-up {
  color: #1a1a1a;
}

.fa-thumbs-up {
  transform: translateY(35px);
  transform: rotateY(180deg);
}

.feedback-wrapper {
  height: 5em;
  margin-bottom: 6em;
}

.code {
  background-color: #282c34;
  margin: 1em 0;
  padding: 1em 2em;
  border-radius: 15px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.html-comment {
  color: #b2b2b2;
}

.html-syntax {
  margin: 2em 0;
}

.symbol {
  color: #88c6be;
}

.tag-name {
  color: #fc929e;
}

.attributes {
  color: #c5a3c5;
}

.string {
  color: #8dc891;
}

.method {
  color: #79b6f2;
}

.values {
  color: #ff8b50;
}

.preprocessor {
  color: #c5a5c5;
}

.variable {
  color: #fff;
}

.command {
  color: #fac863;
}

/* end */

.nav {
  position: fixed;
  right: 0;
  top: 3.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-width: 388px;
  height: 92vh;
  padding-bottom: 10em;
  background-color: #f7f7f7;
  overflow-y: scroll;
}

#navbar {
  position: absolute;
  top: 4em;
  left: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

#navbar div {
  position: relative;
  padding: 0.1em 0;
}

#navbar div {
  font-size: 14px;
  font-weight: 700;
  line-height: 42px;
  color: #6d6d6d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  border: none;
  outline: none;
}

#navbar div div label {
  margin-left: 20px;
  user-select: none;
}

.dropdown {
  border: none;
  outline: none;
  background-color: transparent;
  color: #6d6d6d;
}

.dropdowns {
  padding-top: 0.3em;
}

ul {
  position: relative;
  padding-left: 2em;
}

.ul {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  height: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.radio-label {
  font-size: 16px;
  line-height: 18px;
  height: 30px;
  font-weight: 400;
  color: #1a1a1a;
  user-select: none;
  overflow: visible;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.radio-label:hover {
  color: #6d6d6d;
}

.radio-label input {
  position: absolute;
  opacity: 0;
  height: 0px;
  width: 0px;
}

.radio-label input:checked ~ .checkmark {
  position: absolute;
  left: 2px;
  width: 4px;
  height: 24px;
  background-color: #31dafb;
}

.nav-header-label {
  color: #6d6d6d;
}

.nav-header-label:hover {
  color: #1a1a1a;
}

.close {
  height: 0;
  width: 0;
  overflow: hidden;
}

.header-radio {
  position: absolute;
  width: 0px;
  height: 0px;
}

/*end*/

/* footer */

#main-footer {
  background-color: red;
}

#page-nav {
  background-color: #282c34;
  padding: 50px;
  padding-right: 9em;
}

.sub-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
}

.sub-footer {
  width: 80%;
  height: 90%;
  margin-right: 5em;
  overflow: hidden;
}

.sub-footer-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  align-items: center;
  justify-content: center;
}

.footer-links-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-links-grid div h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  margin-left: 30px;
  color: #999999;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-links-grid div ul li {
  font-weight: 400;
  color: #fff;
  list-style: none;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-links-grid div ul li:hover {
  color: #61dafb;
}

.Add-react {
  text-align: end;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-bottom: 1px solid #949494;
}

.a1 {
  width: 100%;
  text-align: end;
}

.next-article {
  text-align: end;
  color: #61dafb;
  font-size: 14px;
  line-height: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  padding: 1em 0;
}

.footer-container {
  padding: 0 20em 0 0;
  width: 100%;
  background-color: #16181d;
}

.copyright {
  height: 100%;
}

.copyright p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #999999;
}

.footer-logo {
  vertical-align: top;
  display: inline-block;
  max-width: 160px;
  height: auto;
}

.footer-logo img {
  width: 100%;
  height: auto;
}

/* The following are the media queries */

@media screen and (max-width: 1190px) {
  .search-and-lang {
    height: 52px;
  }

  .nav-li {
    padding: 0 1px;
    margin-right: 1px;
  }
  .nav_li label {
    font-size: 16px;
    line-height: 18px;
  }

  #logo {
    margin: 0;
    padding: 0;
  }

  #logo img {
    height: 18px;
  }

  #logo p {
    font-size: 16px;
    line-height: 18px;
  }

  #main-header {
    padding-left: 3.8em;
    padding-right: 1em;
  }

  #main-nav {
    margin-left: 4em;
    margin-right: 3em;
  }

  .search-and-lang {
    position: relative;
  }

  .search-div {
    position: absolute;
    right: 21.7em;
    transition: all 0.5s ease;
  }

  .onBlur {
    position: absolute;
    width: 0px;
    transition: all 0.3s ease-in-out;
  }

  .onBlur:focus {
    position: relative;
    width: 100px;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (max-width: 979px) {
  .Github {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .search-div {
    position: absolute;
    right: 14em;
  }

  #main-nav {
    margin-left: 15px;
    margin-right: 1em;
  }
}
